* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#C75146, #767676);
}
#loginContainer h1{
    text-align: center;
    color: black;
}
#loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 300px; 
    padding: 20px;
    background: white;
    border-radius: 10px;
  
}

#loginContainer input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: space-between;
  
}

#loginContainer button {
    padding: auto;
    background: #C75146;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 40%; 
}
#todoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 300px; 
    padding: 20px;
    background: white;
    border-radius: 10px;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}
img{
    width: 30px;
    margin-left: 10px;
    padding-top: 30px;
}

input {
    width: 70%;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 5px;
}

button {
    padding: 8px 15px;
    background: #e34d40;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style: none;
    margin-top: 20px;
}

li {
    display: flex;
    width: 92%;
    justify-content: space-between;
    background:#fb958c;
    color: #000000;
    font-size: medium;
    padding: 6px;
    margin: 5px 0;
    border-radius: 5px;
}

li button {
    background: rgb(27, 3, 244);
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
}
